<% layout("/layouts/boilerplate") -%>
<div class="show-body">
  <div class="card" style="width: 30rem">
    <h5 class="card-title fs-2"><%= listing.title %></h5>
    <img
      src="<%= listing.image %>"
      class="card-img-top show-img"
      alt="<%= listing.title %>"
    />
    <div class="card-body">
      <p class="card-text mb-3">
        <%= listing.description %> <br />
        <b>₹<%= listing.price.toLocaleString("en-IN") %> / night </b> <br />
        <i class="fa-solid fa-location-dot"></i><%= listing.location %> <br />
        <i class="fa-regular fa-map"></i><%= listing.country %>
      </p>
      <form action="/listings/<%= listing._id %>?_method=delete" method="post">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark"
          >Edit</a
        >

        <button class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>
